In [50]:
import pandas as pd
import os

In [73]:
vine_data_df = pd.read_csv('vine_table_data.csv')
vine_data_df.head()
len(vine_data_df.index)

2643619

In [52]:
filtered_df = vine_data_df[vine_data_df['total_votes'] >=20]
filtered_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
117,R20QE2AQIAXZM5,1.0,59.0,65.0,N,N
141,R2586QOLJR5WDO,1.0,65.0,69.0,N,Y
277,R3JMYEIX2T4SYN,4.0,22.0,22.0,N,N
496,RS0DNT73U4OXT,3.0,24.0,28.0,N,Y
726,R180WMKSK2ZFSS,2.0,48.0,54.0,N,Y
...,...,...,...,...,...,...
2643075,R1NL2QP49IZUDR,5.0,59.0,62.0,N,N
2643307,R3S9Y64LSQYCEG,1.0,20.0,20.0,N,Y
2643313,R3QIYIOH0A18O9,5.0,176.0,180.0,N,Y
2643354,R9E335Y045TIZ,2.0,69.0,82.0,N,Y
2643452,RHV41OTXJ0Q7J,1.0,44.0,46.0,N,N

In [53]:
votes_df = filtered_df[filtered_df['helpful_votes']/filtered_df['total_votes'] >=.5]
votes_df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
117,R20QE2AQIAXZM5,1.0,59.0,65.0,N,N
141,R2586QOLJR5WDO,1.0,65.0,69.0,N,Y
277,R3JMYEIX2T4SYN,4.0,22.0,22.0,N,N
496,RS0DNT73U4OXT,3.0,24.0,28.0,N,Y
726,R180WMKSK2ZFSS,2.0,48.0,54.0,N,Y
...,...,...,...,...,...,...
2643075,R1NL2QP49IZUDR,5.0,59.0,62.0,N,N
2643307,R3S9Y64LSQYCEG,1.0,20.0,20.0,N,Y
2643313,R3QIYIOH0A18O9,5.0,176.0,180.0,N,Y
2643354,R9E335Y045TIZ,2.0,69.0,82.0,N,Y
2643452,RHV41OTXJ0Q7J,1.0,44.0,46.0,N,N

In [106]:
vine_program_yes = votes_df[votes_df['vine'] == 'Y']
vine_program_yes

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
5284,R14MWOKDV96X6C,2.0,20.0,22.0,Y,N
10419,R1JQFUDS0W5HZQ,4.0,39.0,47.0,Y,N
16692,R3R8VP6WYF57Q3,2.0,22.0,25.0,Y,N
35044,R2WZOMKG5UPPHZ,4.0,46.0,46.0,Y,N
43398,R36HPUTCYDMD8Y,4.0,36.0,37.0,Y,N
...,...,...,...,...,...,...
2561026,R1CXP0GBG3YAOU,5.0,25.0,27.0,Y,N
2569292,R2VVHN42J3Q73O,2.0,22.0,27.0,Y,N
2571037,R3MXN8VA5PGE77,4.0,27.0,32.0,Y,N
2573544,R392ZX1HNSGZ3N,3.0,27.0,33.0,Y,N
2574028,R1DO1HZMA69EDJ,5.0,57.0,61.0,Y,N

In [107]:
vine_program_yes.groupby('star_rating').count()

             review_id  helpful_votes  total_votes  vine  verified_purchase
star_rating
1.0                  6              6            6     6                  6
2.0                 16             16           16    16                 16
3.0                 27             27           27    27                 27
4.0                 56             56           56    56                 56
5.0                 65             65           65    65                 65

In [108]:
len(vine_program_yes.index)

170

In [110]:
vine_program_no = votes_df[votes_df['vine'] == 'N']
vine_program_no

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
117,R20QE2AQIAXZM5,1.0,59.0,65.0,N,N
141,R2586QOLJR5WDO,1.0,65.0,69.0,N,Y
277,R3JMYEIX2T4SYN,4.0,22.0,22.0,N,N
496,RS0DNT73U4OXT,3.0,24.0,28.0,N,Y
726,R180WMKSK2ZFSS,2.0,48.0,54.0,N,Y
...,...,...,...,...,...,...
2643075,R1NL2QP49IZUDR,5.0,59.0,62.0,N,N
2643307,R3S9Y64LSQYCEG,1.0,20.0,20.0,N,Y
2643313,R3QIYIOH0A18O9,5.0,176.0,180.0,N,Y
2643354,R9E335Y045TIZ,2.0,69.0,82.0,N,Y
2643452,RHV41OTXJ0Q7J,1.0,44.0,46.0,N,N

In [111]:
vine_program_no.groupby('star_rating').count()

             review_id  helpful_votes  total_votes   vine  verified_purchase
star_rating
1.0               7569           7569         7569   7569               7569
2.0               2048           2048         2048   2048               2048
3.0               2711           2711         2711   2711               2711
4.0               4900           4900         4900   4900               4900
5.0              20612          20612        20612  20612              20612

In [99]:
len(vine_program_no.index)

37840

In [56]:
total_reviews = vine_data_df.groupby('star_rating').count()
total_reviews
#total_reviews_filtered_no = vine_data_df[vine_data_df['vine'] == 'N'].count()
#total_reviews_filtered_yes = total_reviews[total_reviews['vine'] == 'Y']
#total_reviews_filtered_no

             review_id  helpful_votes  total_votes     vine  verified_purchase
star_rating
1.0             248863         248863       248863   248863             248863
2.0             151283         151283       151283   151283             151283
3.0             216635         216635       216635   216635             216635
4.0             381280         381280       381280   381280             381280
5.0            1645553        1645553      1645553  1645553            1645553

In [62]:
total_reviews.dtypes

review_id            int64
helpful_votes        int64
total_votes          int64
vine                 int64
verified_purchase    int64
dtype: object

In [57]:
vine_reviews = vine_data_df.groupby('vine').count()
vine_reviews

      review_id  star_rating  helpful_votes  total_votes  verified_purchase
vine
N       2633399      2633399        2633399      2633399            2633399
Y         10215        10215          10215        10215              10215

In [100]:
percentage_N = (20612/37840)*100
percentage_N

54.471458773784356

In [98]:
percentage_Y = (65/170)*100
percentage_Y

38.23529411764706